@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar related styles */
nav {
    justify-content: space-around;
    align-items: center;
    height: 92px;
    /* margin-top: 1.5rem;
    margin-bottom: 1.5rem; */
}

.nav-title {
    font-size: 3rem;
    font-weight: 800;
    color: #FFFFFF;
}

.nav-wave {
    background: linear-gradient(#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    background-clip: text;
    color: transparent;
}

nav>ul {
    list-style: none;
    justify-content: space-between;
    gap: 2rem;
}

nav>ul>li>a {
    text-decoration: none;
    font-weight: 500;
}

#hamburger-menu {
    display: none;
}