@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar related styles */
nav {
    justify-content: space-around;
    align-items: center;
    height: 92px;
    /* margin-top: 1.5rem;
    margin-bottom: 1.5rem; */
}

.nav-title {
    font-size: 3rem;
    font-weight: 800;
    color: #FFFFFF;
}

.nav-wave {
    background: linear-gradient(#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    background-clip: text;
    color: transparent;
}

nav>ul {
    list-style: none;
    justify-content: space-between;
    gap: 2rem;
}

nav>ul>li>a {
    text-decoration: none;
    font-weight: 500;
}

#hamburger-menu {
    display: none;
}

/* banner related styles */
.banner {
    /* height: 47.5rem; */
    /* background-image: url(../assets/microphone.png), url(../assets/hero-circle.png), url(../assets/hero-bg.png); */
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    /* background-repeat: no-repeat, no-repeat, repeat-x; */
}

#microphone {
    position: absolute;
    right: 47%;
    top: 31%;
}

#hero-circle {
    position: absolute;
    top: 22%;
    right: 41%;
}

.btn-new {
    background-color: #00FF88;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1.25rem;
    font-size: 1.125rem;
    font-weight: 600;
    color: #1A0B2E;
    position: absolute;
    top: 25%;
    left: 55%;
    box-shadow: 0 3px 27px rgba(0, 255, 136, 100);
}

.banner-content {
    padding: 491px 525px 101px;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.banner-title {
    font-size: 3.75rem;
    font-weight: bolder;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
}

.banner-content>p {
    opacity: 80%;
    margin-bottom: 1.5rem;
}

/* .banner-content>div>button {
    gap: 0.5rem;
} */
#btn-on {
    padding: 0.75rem 1.25rem;
    margin-right: 0.5rem;
}

#sub-btn {
    padding: 12px 20px;
    border-radius: 30px;
    font-weight: 600;
    border: 2px solid #00FF88;
    color: #00FF88;
    background: none;
}