@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar related styles */
nav {
    justify-content: space-around;
    align-items: center;
    height: 92px;
    /* margin-top: 1.5rem;
    margin-bottom: 1.5rem; */
}

.nav-title {
    font-size: 3rem;
    font-weight: 800;
    color: #FFFFFF;
}

.nav-wave {
    background: linear-gradient(#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    background-clip: text;
    color: transparent;
}

nav>ul {
    list-style: none;
    justify-content: space-between;
    gap: 2rem;
}

nav>ul>li>a {
    text-decoration: none;
    font-weight: 500;
}

#hamburger-menu {
    display: none;
}

/* banner related styles */
.banner {
    /* height: 47.5rem; */
    /* background-image: url(../assets/microphone.png), url(../assets/hero-circle.png), url(../assets/hero-bg.png); */
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    /* background-repeat: no-repeat, no-repeat, repeat-x; */
}

#microphone {
    position: absolute;
    right: 47%;
    top: 31%;
}

#hero-circle {
    position: absolute;
    top: 22%;
    right: 41%;
}

.btn-new {
    background-color: #00FF88;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1.25rem;
    font-size: 1.125rem;
    font-weight: 600;
    color: #1A0B2E;
    position: absolute;
    top: 25%;
    left: 55%;
    box-shadow: 0 3px 27px rgba(0, 255, 136, 100);
}

.banner-content {
    padding: 491px 525px 101px;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.banner-title {
    font-size: 3.75rem;
    font-weight: bolder;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
}

.banner-content>p {
    opacity: 80%;
    margin-bottom: 1.5rem;
}

/* .banner-content>div>button {
    gap: 0.5rem;
} */
#btn-on {
    padding: 0.75rem 1.25rem;
    margin-right: 0.5rem;
}

#sub-btn {
    padding: 12px 20px;
    border-radius: 30px;
    font-weight: 600;
    border: 2px solid #00FF88;
    color: #00FF88;
    background: none;
}

/* main section styles */

/* podcast style */
.podcast-container {
    padding: 50px 200px 120px;
}

.podcast-content {
    /* align-items: center; */
    justify-items: center;
}

#podcast-title {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 1rem;
}

.podcast-content>p {
    /* justify-items: center; */
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    opacity: 80%;
}

#podcast-join {
    margin-top: 3rem;
    opacity: 80%;
}

.podcast-container>hr {
    margin: 5rem 0;
    border: 1px solid #FFFFFF;
    opacity: 10%;
}

.podcast-card {
    justify-content: space-between;
    align-items: center;
}

.podcast-card>div>h3 {
    font-size: 3rem;
    color: #00FF88;
    font-weight: 900;
    margin-bottom: 1rem;
}

.podcast-card>div>p {
    font-size: 1rem;
    font-weight: 400;
    opacity: 80%;
}

/* Why Choose TechWave section styles */
#techwave-section {
    background-color: #230E3D;
    padding: 120px 200px;
}

.techwave-color {
    background-color: #351165;
}

#premium {
    grid-area: premium;
    padding: 107.5px 40px;
    border-radius: 2rem;
}

#mobile {
    grid-area: mobile;
    padding: 40px;
    border-radius: 2rem;
}

#global {
    grid-area: global;
    padding: 40px;

    border-radius: 2rem;
}

#exclusive {
    grid-area: exclusive;
    padding: 40px;
    border-radius: 2rem;
}

#resource {
    grid-area: resource;
    padding: 40px;
    border-radius: 2rem;
}

#techwave-title {
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.techwave-card {
    display: grid;
    gap: 30px;
    grid-template-areas: "premium mobile mobile" "premium global global" "exclusive exclusive resource";
}

.techwave-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.techwave-card-paragraph {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 60%;
}

/* Featured Episodes related styles */
.featured-color {
    background-color: #1A0B2E;
}

.featured-section {
    padding: 120px 200px;
}

.featured-title {
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.featured-content {
    justify-content: center;
    gap: 30px;
}

.featured-card {
    width: 380px;
    height: 440px;
    background-color: #250D44;
    border-radius: 20px;
}

.featured-card>iframe {
    width: 380px;
    height: 214px;
    border-radius: 1rem 1rem 0 0;
    border: none;
}

.featured-card>h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.5rem 1.5rem 0.75rem;
}

.featured-card>p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 60%;
    margin: 0 1.5rem 0.75rem;
}

.video-time {
    margin: 0 1.5rem 1.5rem;
    gap: 6px;
}

.video-time>p {
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
}

/* meet the host section style */
.host-container {
    padding: 40px;
    background-color: #351165;
    border-radius: 50px;
}

.host-info {
    gap: 1.5rem;
    align-items: center;
}

.host-info>div>h4 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.host-info>div>p {
    font-size: 1rem;
    font-weight: 400;
    opacity: 60%;
    margin-bottom: 1rem;
}

.host-icons {
    align-items: center;
    gap: 0.5rem;
}

.host-icons>a {
    width: 40px;
    height: 40px;
    border: 1px solid #533C72;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

/* footer related styles */
.footer {
    background-image: url(../assets/footer-bg.png);
    background-position: center;
    height: 412px;
}

.footer-title {
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
    margin-bottom: 1.5rem;
}

.footer-icons {
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.style-none {
    color: #FFFFFF;
    opacity: 60%;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 0.5rem;
}

.footer-container>p {
    justify-content: center;
    opacity: 60%;
    margin-top: 2rem;
}